<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <!-- <a href="index.html" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>ApanaTime</h1>
        </a> -->

        <!-- <a href="index.html" class="logo d-flex align-items-center navbar-brand p-0">
            <img src="assets/img/apanatime logo (13).png" alt="" style="margin-left: 0px; height: 56px;">
            <h1 class="m-1" style="width: 20px;">ApanaTime</h1>
        </a> -->
        <a href="index.html" class="logo d-flex align-items-center navbar-brand p-0">
            <img src="assets/img/apanatime logo (13).png" alt="" style="margin-left: 0px; height: 56px;">
            <h1 class="m-1" style="width: 20px;">
                <span class="apana">Apana</span>
                <span class="time">Time</span>
            </h1>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a routerLink="_aboutUs" routerLinkActive="router-link-active" class="nav-item nav-link">About</a>
                <a routerLink="_services" routerLinkActive="router-link-active" class="nav-item nav-link">Services</a>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu m-0">
                        <a routerLink="_blog/blogs" routerLinkActive="router-link-active" class="dropdown-item">Blog Grid</a>
                        <a routerLink="_blog/blogDetails" routerLinkActive="router-link-active" class="dropdown-item">Blog Detail</a>
                    </div>
                </div> -->
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a routerLink="_moreAbout/pricePlans" routerLinkActive="router-link-active" class="dropdown-item">Pricing Plan</a>
                        <a routerLink="_moreAbout/features" routerLinkActive="router-link-active" class="dropdown-item">Our features</a>
                        <a routerLink="_moreAbout/team" routerLinkActive="router-link-active" class="dropdown-item">Team Members</a>
                        <a routerLink="_moreAbout/testimonials" routerLinkActive="router-link-active" class="dropdown-item">Testimonial</a>
                        <a routerLink="_moreAbout/quote" routerLinkActive="router-link-active" class="dropdown-item">Free Quote</a>
                    </div>
                </div> -->
                <a routerLink="_contactUs" routerLinkActive="router-link-active" class="nav-item nav-link">Contact</a>
            </div>
            <!-- <button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i
                    class="fa fa-search"></i></button> -->
            <a [href]="whatsappLink" target="_blank" rel="noopener noreferrer"
                class="btn btn-primary d-flex align-items-center py-1 px-2 ms-3"><img src="assets/img/whatsapp.png" alt="WhatsApp"
                    style="margin-left: 0px; padding-right: 5px; height: 30px;">WhatsApp</a>
            <!-- <a href="" class="ms-3">
                <img src="assets/img/whatsapp.png" alt="" style="margin-left: 0px; height: 30px;">
            </a> -->
            <!-- <a [href]="whatsappLink" target="_blank" rel="noopener noreferrer" class="ms-3">
                <img src="assets/img/whatsapp.png" alt="WhatsApp" style="margin-left: 0px; height: 30px;">
            </a> -->
        </div>
    </nav>
</div>


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->