<!-- Topbar Start -->
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Gorakhpur, UP, India</small>
                <a href="https://wa.me/918081062775?text=Hello!%20I%20would%20like%20to%20connect%20with%20you."><small class="me-3 text-light"><i class="fa bi-whatsapp me-2"></i>+9180 8106 2775</small></a>
                <small class="text-light"><i class="fa fa-envelope-open me-2"></i>apanatimeat&#64;gmail.com</small>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank"
                    rel="noopener noreferrer" target="_blank" rel="noopener noreferrer"
                    href="https://x.com/apanatime77?t=2ya_vmWcSciERWZj_hciIA&s=08"><i
                        class="fab fa-twitter fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank"
                    rel="noopener noreferrer" target="_blank" rel="noopener noreferrer"
                    href="https://www.facebook.com/profile.php?id=61562874962761"><i
                        class="fab fa-facebook-f fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle  me-2" target="_blank"
                    rel="noopener noreferrer" target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/company/apana-time/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank"
                    rel="noopener noreferrer" target="_blank" rel="noopener noreferrer"
                    href="https://www.instagram.com/apanatime77"><i class="fab fa-instagram fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" target="_blank"
                    rel="noopener noreferrer" target="_blank" rel="noopener noreferrer"
                    href="https://www.youtube.com/@apanatime-f5w"><i class="fab fa-youtube fw-normal"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->